
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 20px;
    z-index: 10000px;

  }
  
  .navbar-link {
    color: #fff; /* Text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .navbar-link:hover {
    color: #ff6600; /* Hover color */
  }
  